<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Countries</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css" />
</head>
<body hx-boost="true">
    <main id="main" class="container">
        <h2>Country List</h2>
        <table>
            <thead>
                <tr>
                    <th>Country</th>
                    <th>Continent</th>
                </tr>
            </thead>
            <tbody>
                {% for country in countries %}
                <tr>
                    <td>
                        <a href="/pages/countries/{{ country.id }}">{{ country.name }}</a>
                    </td>
                    <td>
                        {% if country.continent.is_some() -%}{{ country.continent.clone().unwrap() }}{%- endif %}
                    </td>
                </tr>
                {% endfor %}
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </main>
</body>
</html>