<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cities in {{ country.name }}</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/open-fonts@1.1.1/fonts/inter.min.css">
    <link rel="stylesheet" href="/cdn/new.min.css" />
</head>
<body>
    <main id="main" class="container">
        <header>
            <h1>Welcome to {{ country.name }}</h1>
            <h2>List of Cities</h2>
        </header>
        <ol id="cityList" class="city-list">
            {% for city in country.cities %}
            <li>{{ city.name }}</li>
            {% endfor %}
        </ol>

        <form hx-post="/pages/countries/{{ country.id }}" hx-select="#main" hx-target="main" hx-swap="outerHTML" class="add-city-form">
            <label for="name">Add a new city:</label>
            <input type="text" id="name" name="name" required />
            <input type="hidden" id="country_id" name="country_id" value="{{ country.id }}" />
            <button type="submit">Add City</button>
        </form>
    </main>
</body>
</html>
